.latest_card {
  height: 500px;
  width: 400px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
}

.content {
  display: grid;
}
.letest_background {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 20px;
}

.latest_product_price {
  line-height: 50px;
}
.letest_img {
  height: 250px;
  width: 300px;
}
.letest_all-text {
  padding: 25px;
}
.latest_title {
  font-size: 27px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0.9px;
  color: #1d1d1f;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.latestproductcard_detail {
  font-size: 16px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.9px;
  background-color: #3d3d50;
  color: #fff;
  padding: 5px;
}
.latestproduct_pri {
  font-size: 16px;
  color: rgb(48, 43, 43);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 0.9px;
}

@media (max-width: 768px) {
  .latest_card {
    height: 375px;
    width: 300px;
  }
  .letest_all-text {
    padding: 10;
  }
  .latest_title {
    font-size: 18px;
    line-height: 40px;
  }
  .latestproductcard_detail {
    font-size: 14px;
  }

  .letest_img {
    height: 160px;
    width: 192px;
  }
}
