.checkout {
  display: flex;
  padding: 20px;
  background-color: whitesmoke;
  height: max-content;
}
.checkout_title {
  margin-right: 10px;
  padding: 10px;
  border-radius: 2px solid green;
}
.checkout_left {
}
.checkout_right {
  margin-top: 20px;
}
