.chechoutproduct {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff !important;
  padding: 10px;
}
.chechoutproduct_img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}
.chechoutproduct_rating {
  display: flex;
}
.chechoutproduct_title {
  font-size: 17px;
  font-weight: 800;
}
.remove_btn {
  width: 100%;
  height: 30px;
  background: #f0c14b;
  border-color: #a88743 #9c7e31 #846a29;
  border-radius: 1px solid;
  color: #111;
  font-weight: 500;
  font-size: 12px;
}

@media (max-width: 768px) {
  .chechoutproduct {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 6px;
  }
  .chechoutproduct_img {
    width: 100px;
    height: 100px;
  }

  .chechoutproduct_title {
    font-size: 12px;
    font-weight: 600;
  }
  .remove_btn {
    width: 100%;
    height: 20px;

    font-size: 10px;
  }
}
